* {
  -webkit-print-color-adjust: exact !important; 
  color-adjust: exact !important;
}

.page {
  margin: 0;
  padding: 0;
  border: initial;
  border-radius: initial;
  box-shadow: initial;
  page-break-after: always;
  width: 21cm;
  height: 29.666cm;
}